.a {
    display: grid;
    place-items: end;
  }
body {
    background-color: #3f7300; 
    font-family: Arial, sans-serif;
    color: #333; 
    line-height: 1.6; 
    margin: 0;
}

ol{
    margin: 0px 40px 0px 40px;
    display: grid;
    place-items: end;
  }

div{
    text-align: right;
}
header {
    text-align: center; /* Выравнивание заголовка */
    padding: 20px;
}
li{
    color: #191313;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2em; 
    color: #191313; 
}
.txt{
    font-family: 'franklin gothic medium';
}
.mailto{
    href: "mailto:student4321@sch192.net";
}
h2{
    color: #191313;
    text-align: right;
}
h3{
    color: #191313;
    text-align: right;
}
main {
    padding: 20px; 
}
.museum{
    src: "c:\Users\user\Desktop\images\27869988_13954.jpg";
}
.class1{
    text-align: left;
}
.class2{
    text-align: right;
}
p {
    margin: 0px 40px 0px 40px;
    color: #191313;
    align: justify;
    margin: 15px 0; 
}
ul {
    margin: 0px 40px 0px 40px;
    list-style-type: disc;
    margin-left: 20px; 
}
a {
    color: #0108cfef; 
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}
footer {
    text-align: center; 
    padding: 10px;

}

